<div class="uk-flex uk-flex-center">
    <div class="swac_repeatForSet">
        <!-- Visualisation for complete sets -->
        <div class="swac_visualise_diagram_set"></div>
        <table class="swac_visualise_legend_set">
            <tr class="swac_visualise_repeatForAttr swac_dontdisplay">
                <td class="swac_visualise_legend_name" swac_lang=""></td><td class="swac_visualise_legend_value"></td>
            </tr>
        </table>
        <div>
            <div class="swac_repeatForValue">
                <!-- Visualisation for single attributes -->
                <div class="swac_visualise_diagram_attr"></div>
                <div class="swac_visualise_legend_attr uk-width-1-2">
                    <!--<b>{attrName} : </br>-->{*}<br>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="swac_visualise_attributions"></div>