<div class="swac_dataanalyser_col swac_dontdisplay">
    <div class="swac_datanalyser_catname"></div>
    <h1 class="swac_dataanalyser_colname uk-h1 uk-heading-divider"></h1>
    <h4 swac_lang="Dataanalyser.domains"></h4>
    <table class="uk-table">
        <thead>
            <tr>
                <th swac_lang="Dataanalyser.domain_variable"></th>
                <th swac_lang="Dataanalyser.domain_values"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="swac_dataanalyser_domain">
                <td class="swac_dataanalyser_variable"></td>
                <td class="swac_dataanalyser_values"></td>
            </tr>
        </tbody>
    </table>
    <h4 swac_lang="Dataanalyser.constraints"></h4>
    <table class="uk-table">
        <thead>
            <tr>
                <th swac_lang="Dataanalyser.constraint_var1"></th>
                <th swac_lang="Dataanalyser.constraint_var2"></th>
                <th swac_lang="Dataanalyser.constraint_func"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="swac_dataanalyser_constraint">
                <td class="swac_dataanalyser_constraint_var0"></td>
                <td class="swac_dataanalyser_constraint_var1"></td>
                <td class="swac_dataanalyser_constraint_func"></td>
            </tr>
        </tbody>
    </table>
</div>