<div class="swac_mediaeditor">
    <ul class="uk-subnav uk-subnav-pill" uk-switcher>
        <li class="nav swac_repeatForSet"><a href="#"><span>{title}</span> <span>{filename}</span></a></li>
    </ul>
    <ul class="uk-switcher uk-margin">
        <li class="cont swac_repeatForSet">
            {title}
            <div class="swac_mediacontent" uk-height-viewport>
                <!-- Media will be placed here -->
            </div>
            <div>
                <ul uk-accordion>
                    <li class="swac_repeatForPluginCont">
                        <a class="uk-accordion-title swac_plugin_name" href="#"></a>
                        <div class="uk-accordion-content swac_plugin_content">
                            <!-- Plugin menues will be placed here -->
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>