<div class="uk-grid">
    <div class="swac_repeatForSet">
        <!-- Visualisation for complete sets -->
        <div class="swac_visualise_diagram_set"></div>
        <table class="swac_visualise_legend_set">
            <tr class="swac_visualise_repeatForAttr swac_dontdisplay">
                <td class="swac_visualise_legend_name" swac_lang=""></td><td class="swac_visualise_legend_value"></td>
            </tr>
            <!-- TODO why not use the following? -->
<!--            <tr class="swac_repeatForValue">
                <td swac_lang="{attrName}">{attrName}</td><td>{*}</td>
            </tr>-->
        </table>
        <div>
            <div class="swac_repeatForValue">
                <!-- Visualisation for single attributes -->
                <div class="swac_visualise_diagram_attr"></div>
                <div class="swac_visualise_legend_attr uk-width-1-2">
                    <b class="swac_visualise_legend_name" swac_lang="{attrName}">{attrName}</b>:<span class="swac_visualise_legend_value">{*}</span>
                </div>
            </div>
        </div>
        <div class="swac_visualise_ts">
            <b swac_lang="Visualise.ts"></b>
            <div>{ts}</div>
        </div>
    </div>
</div>
<div class="swac_visualise_attributions"></div>