.swac_repeatForOption, .swac_repeatForTplElem {
    display: none;
}

.swac_explain_options_table td {
    width: 50%;
}

.swac_explain_option_type {
    font-weight: bold;
}
.swac_explain_forDocErr {
    display: none;
}