<table id="download_table" class="uk-table uk-table-small uk-table-hover uk-table-divider">
    <thead>
        <tr>
            <th swac_lang="Download.preview">Preview</th>
            <th swac_lang="Download.title">Title</th>
            <td swac_lang="Download.link">Link</td>
        </tr>
    </thead>
    <tbody>
        <tr class="swac_repeatForSet">
            <td>
                <a href="{path}" download><img class="swac_downloadIco" uk-img data-src="{ico}" title="Download.downloadnow"></a>
            </td>
            <td>
                {title}
            </td>
            <td>
                <a href="{path}" download>Download.downloadnow</a>
            </td>
        </tr>
    </tbody>
</table>