 <div class="swac_screenboard_hidden">
  <div>^</div>
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
  <div>5</div>
  <div>6</div>
  <div>7</div>
  <div>8</div>
  <div>9</div>
  <div>0</div>
  <div>ß</div>
  <div><span uk-icon="icon: arrow-left; ratio: 2"></span></div>
  
  <div>q</div>
  <div>w</div>
  <div>e</div>
  <div>r</div>
  <div>t</div>
  <div>z</div>
  <div>u</div>
  <div>i</div>
  <div>o</div>
  <div>p</div>
  <div>ü</div>
  <div>+</div>
  <div class="swac_screenboard_enterbutton"><span uk-icon="icon: sign-in; ratio: 2"></span></div>
  
  <div>a</div>
  <div>s</div>
  <div>d</div>
  <div>f</div>
  <div>g</div>
  <div>h</div>
  <div>j</div>
  <div>k</div>
  <div>l</div>
  <div>ö</div>
  <div>ä</div>
  <div>#</div>
  
  <div>&lt;</div>
  <div>y</div>
  <div>x</div>
  <div>c</div>
  <div>v</div>
  <div>b</div>
  <div>n</div>
  <div>m</div>
  <div>,</div>
  <div>.</div>
  <div>-</div>
  <div> </div>
  <div><span uk-icon="icon: triangle-up; ratio: 2"></span></div>
</div> 