#swac_user_logindialog {
    background-color: #398EDE;
    text-align: center;
}

#login_button {
    background-color: rgb(255, 255, 255);
    color: black;
    margin-top: 1%;
    border-radius: 5em;
    width: 100%;
}

label {
    float: left;
    margin-left: 1.5%;
}

#swac_input {
    background-color: rgb(255, 255, 255);
    margin-bottom: 2%;
    border-radius: 5em;
}