<table class="uk-table">
    <thead style="display: none;">
        <tr>
            <th class="swac_repeatForAttribute">{attrName}</th>
        </tr>
    </thead>
    <tbody style="display: none;">
        <tr class="swac_repeatForSet">
            <td class="swac_repeatForValue">
                <span uk-tooltip="title: {attrName}" swac_round="2">{*}</span>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="swac_repeatForAttribute" style="display: none;"></td>
        </tr>
    </tfoot>
</table>
<button class="swac_calculate_saveasjson swac_dontdisplay uk-button uk-button-primary">Calculate.save_as_json</button>