<table class="uk-table">
    <thead>
        <tr>
            <th class="swac_repeatForAttribute">{attrName}</th>
        </tr>
    </thead>
    <tbody>
        <tr class="swac_repeatForSet">
            <td class="swac_repeatForValue">
                <span uk-tooltip="title: {attrName}">{*}</span>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="swac_repeatForAttribute"></td>
        </tr>
    </tfoot>
</table>
<button class="swac_calculate_saveasjson swac_dontdisplay uk-button uk-button-primary">Calculate.save_as_json</button>