<h2 class="swac_datadescription_legendtitle" swac_lang="Datadescription.legendtitle"></h2>
<ul uk-accordion="uk-accordion" class="uk-accordion">
    <li class="swac_repeatForLegend uk-open">
        <a class="swac_datadescription_datatitle uk-accordion-title" href="#" uk-tooltip="{txt_desc}">{txt_title}</a>
        <p>{txt_desc}</p>
        <div class="swac_datadescription_datadesc uk-accordion-content"></div>
    </li>
</ul>
<!--##Datadescription.attribution##: <div class="swac_datadescrpiton_attribution">
    <a href="{sourcelink}">{sourcename}</a>
</div>-->