<div id="swac_worldmap_map"></div>
<div class="swac_repeatForPluginCont"></div>
<div class="swac_worldmap_tooltip swac_dontdisplay">
    <div class="swac_worldmap_tooltip_value">
        <h3 class="swac_worldmap_valuename swac_dontdisplay"></h3>
        <span swac_lang="Worldmap.value"></span>: <div class="swac_worldmap_value"></div>
        <hr><span swac_lang="Worldmap.datafrom"></span>: <div class="swac_worldmap_ts"></div>
        <br><span swac_lang="Worldmap.setid"></span>: <div class="swac_worldmap_setid"></div>
    </div>
    <div class="swac_worldmap_tooltip_position swac_dontdisplay">
        <span swac_lang="Worldmap.lat"></span> <span class="swac_worldmap_latout"></span>
        <br><span swac_lang="Worldmap.lon"></span> <span class="swac_worldmap_lonout"></span>
        <br><span swac_lang="Worldmap.height"></span> <span class="swac_worldmap_heightout"></span>
    </div>
</div>
