/* 2b */
.tron {
    padding: 0px;
    height: 450px;
    background: #000000;
}
.tron h1, .tron h3 {
    color: #ffffff;
    margin: 0px;
    font-size: 4em;
    text-align: center;
}

.midpos {
    width: 100%;
    text-align: center;
}