<div uk-grid>
    <div class="uk-width-expand@m">
        <div class="swac_visualmodel_drawarea"></div>
    </div>

    <div class="swac_visualmodel_menue uk-width-1-5@m">
        <ul class="swac_visualmodel_menueswitcher uk-subnav uk-subnav-pill" uk-switcher>
            <li><a href="#">##Visualmodel.scenegraph##</a></li>
            <!--<li><a href="#">##Visualmodel.visuelemcreator##</a></li>-->
            <li class="swac_repeatForPluginNav"><a href="#"></a></li>
        </ul>

        <ul class="uk-switcher uk-margin">
            <li>
                <ul class="swac_visualmodel_scenegraph">
                    <li class="swac_repeatForSet">
                        <a href="#" swac_id="{id}" swac_parent="{parent}">{name}</a>
                        <div class="swac_forChilds">
                            <ul class="swac_child">
                                <li>
                                    <a href="#">{name}</a>
                                    <div class="swac_forChilds"></div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="swac_repeatForPluginCont">
                <!-- Plugin will add content here -->
            </li>
        </ul>
    </div>
</div>

