<div class="swac_convisu_col swac_dontdisplay">
    <h1 class="swac_convisu_colname uk-h1 uk-heading-divider"></h1>
    <h4 swac_lang="ConstraintVisualiser.domains">Domains</h4>
    <table class="uk-table">
        <thead>
            <tr>
                <th swac_lang="ConstraintVisualiser.domain_variable">Domain variable</th>
                <th swac_lang="ConstraintVisualiser.domain_values">Domain values</th>
            </tr>
        </thead>
        <tbody>
            <tr class="swac_convisu_domain">
                <td class="swac_convisu_variable"></td>
                <td class="swac_convisu_values"></td>
            </tr>
        </tbody>
    </table>
    <h4 swac_lang="ConstraintVisualiser.constraints">Constraints</h4>
    <table class="uk-table">
        <thead>
            <tr>
                <th swac_lang="ConstraintVisualiser.constraint_var1">Variable 1</th>
                <th swac_lang="ConstraintVisualiser.constraint_var2">Variable 2</th>
                <th swac_lang="ConstraintVisualiser.constraint_func">Function</th>
            </tr>
        </thead>
        <tbody>
            <tr class="swac_convisu_constraint">
                <td class="swac_convisu_constraint_var0"></td>
                <td class="swac_convisu_constraint_var1"></td>
                <td class="swac_convisu_constraint_func"></td>
            </tr>
        </tbody>
    </table>
</div>