.swac_formatLabelOptions {
    display: block !important;
    background: var(--swacorange) !important;
    width: auto;
    float: none !important;
}

.swac_formatInputOptions {
    width: 10em !important;
}
