<div class="swac_editNotify"></div>
<ul class="uk-list">
    <li class="swac_repeatForSet swac_edit_formToggle" draggable="true">
        
        <form class="swac_editForm">
            <fieldset class="uk-fieldset">
                <legend class="uk-legend swac_editFormLegend">{name}</legend>
                <div class="uk-margin swac_repeatForValue">
                    <label class="uk-label">{attrName}</label>
                    <br><input class="uk-input" name="{attrName}" value="{*}">
                </div>
            </fieldset>
            <div class="uk-margin">
                <button class="uk-button uk-button-default swac_editSaveButton">Edit.save</button>
                <button class="uk-button uk-button-default swac_editDelButton">core.delete</button>
            </div>
        </form>
    <li>
</ul>
<button class="swac_editAddSetButton uk-button uk-button-primary" uk-tooltip="Edit.adddataset">
    <span uk-icon="icon: plus"></span> <span swac_lang="Edit.adddataset">Add dataset</span>
</button>

<!-- How to play reference information -->
<table class="uk-table swac_edit_repeatForReftable">
    <tbody>
        <tr class="swac_edit_repeatForRef">
            <td>{name}</td>
            <td style="display:none"><a href="#" class="uk-icon-button swac_edit_deleteref" uk-icon="minus-circle" uk-tooltip="Edit.refDelete"></a></td>
        </tr>
    </tbody>
</table>