<div class="swac_editNotify"></div>
<form class="swac_repeatForSet swac_editForm">
    <fieldset class="uk-fieldset">
        <legend class="uk-legend swac_editFormLegend">{name}</legend>
        <div class="uk-margin swac_repeatForValue">
            <label class="uk-label">{attrName}</label>
            <br><input class="uk-input" name="{attrName}" value="{*}">
        </div>
    </fieldset>
    <button class="uk-button uk-button-default swac_editAutoDataButton swac_dontdisplay">Edit.autodata_start</button>
    <button class="uk-button uk-button-default swac_editSaveButton swac_dontdisplay">core.save</button>
</form>