body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Gabarito', sans-serif;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #333;
    height: 100vh;
    padding: 20px 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-bottom: 1px solid #444;
}

.sidebar ul li a:hover {
    background-color: #555;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f4f4f4;
}

.main-content h2 {
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    color: black;
    padding: 10px 20px;
}

.navbar-left,
.navbar-center,
.navbar-right {
    flex: 1;
    text-align: center;
    font-size: 120%;
}

.navbar-left {
    text-align: left;
    font-weight: bold;
    font-size: 140%;
}

.navbar-right {
    text-align: right;
}

.navbar-right:empty {
    visibility: hidden;
}

.leaderboard {
    width: 80%;
    background-color: #f4f4f4;
    border-collapse: collapse;
    border-width: 0px;
    border-color: #4D53F8;
    border-style: inset;
    color: #000000;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}

.leaderboard td,
th {
    border-width: 0px;
    border-style: inset;
    padding: 5px;
    text-align: center;
}

.leaderboard thead {
    background-color: lightgreen;
    border-radius: 20px;
}

.leaderboard thead th:first-child {
    border-top-left-radius: 20px;
}

.leaderboard thead th:last-child {
    border-top-right-radius: 20px;
}