<div class="uk-flex uk-flex-center">
    <div class="swac_repeatForSet">
        <div class="swac_repeatForValue">
            <div class="swac_visualise_diagram">
            </div>
            <div class="swac_visualise_legend uk-width-1-2">
                    <b>{attrName} : </b>{*}<br>
                    <div class="diagram_info_state_div">
                        <b>##Visualise.state##</b>
                        <div>{ts}</div>
                    </div>
            </div>
        </div>
    </div>
</div>