#swac_worldmap_map {
    height: 100%;
}

.swac_worldmap_tooltip {
    position: absolute;
    bottom: 0xp;
    left: 0px;
    padding: 4px;
    background-color: black;
    color: #ffffff;
    font-size: 10px;
    width: 10%;
}