<a href="#" class="swac_search_indextoggle" uk-icon="icon: chevron-down; ratio: 2"></a>
<form class="swac_search_form uk-search uk-search-default">
    <span uk-search-icon></span>
    <input class="swac_search uk-search-input" type="search" placeholder="Suche">
</form>
<div>
    <div class="swac_search_results">
        <ul></ul>
    </div>
    <div class="swac_search_info"></div>
    <div class="swac_search_index swac_dontdisplay">

        <div class="swac_search_indexletters">
            <p class="uk-text-bold">##Search.indexsearch##</p>
        </div>
        <div class="swac_index_results">
            <div class="swac_search_info"></div>
            <table class="swac_search_results uk-table uk-table-striped uk-table-hover uk-table-small">
                <thead>
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="swac_search_forResult">
                        <td></td>
                    </tr>
                </tbody>
            </table>  
        </div>
    </div>
</div>