<div class="swac_explain_forError swac_dontdisplay uk-alert-danger" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p class="swac_explain_errorMsg"></p>
</div>

<article class="uk-article">
    <h1 class="swac_expl_compname uk-article-title"></h1>
    by <div class="swac_expl_forDeveloper uk-badge"></div>
    <p class="swac_expl_desc uk-article-meta"></p>
    <span class="swac_expl_lic uk-badge"></span>

    <div class="swac_explain_docerrs">
        <div class="swac_explain_forDocErr uk-alert-danger" uk-alert>
        </div>
    </div>

    <ul uk-accordion>
        <li>
            <a href="#" class="uk-accordion-title uk-background-primary">ExplainComponents.datasets</a>
            <div class="dataReqDiv uk-accordion-content"></div>
        </li>
        <li>
            <a href="#" class="uk-accordion-title uk-background-primary">ExplainComponents.options</a>
            <div class="swac_explain_options uk-accordion-content">
                <div class="swac_repeatForOption">
                    <h3 class="uk-heading-divider swac_explain_option_name"></h3>
                    <span class="swac_explain_option_type"></span>: 
                    <span class="swac_explain_option_desc"></span>
                    <table class="swac_explain_options_table uk-table uk-table-small uk-table-justify">
                        <tr>
                            <th>ExplainComponents.optionsExample</th>
                            <th>ExplainComponents.optionsDefault</th>
                        </tr>
                        <tr>
                            <td><pre><code class="swac_explain_option_example lang-javascript"></code></pre></td>
                            <td><pre><code class="swac_explain_option_default lang-javascript"></code></pre></td>
                        </tr>
                    </table>
                </div>
            </div>
        </li>
        <li>
            <a href="#" class="uk-accordion-title uk-background-primary">ExplainComponents.template</a>
            <div class="tmplReqDiv uk-accordion-content">
                <table class="uk-table">
                    <tr>
                        <th swac_lang="ExplainComponents.tmplelemSelector"></th>
                        <th swac_lang="ExplainComponents.tmplelemDesc"></th>
                        <th swac_lang="ExplainComponents.tmplelemReq"></th>
                    </tr>
                    <tr class="swac_repeatForTplElem">
                        <td class="swac_expl_sel"></td>
                        <td class="swac_expl_desc"></td>
                        <td><input class="swac_expl_req uk-checkbox" type="checkbox" disabled></td>
                    </tr>
                </table>
            </div>
        </li>
        <li>
            <a href="#" class="uk-accordion-title uk-background-primary">ExplainComponents.templates</a>
            <div class="tmplsDiv uk-accordion-content">
                <div class="swac_expl_repForTpl">
                    <h3 class="swac_expl_tplname"></h3>
                    <p class="swac_expl_desc"></p>
                </div>
            </div>
        </li>
        <li>
            <a href="#" class="uk-accordion-title uk-background-primary">ExplainComponents.styles</a>
            <div class="stylesDiv uk-accordion-content"></div>
        </li>
        <li>
            <a href="#" class="uk-accordion-title uk-background-primary">ExplainComponents.functions</a>
            <div class="functionsDiv uk-accordion-content"></div>
        </li>
        <li>
            <a href="#" class="uk-accordion-title uk-background-primary">ExplainComponents.dependencies</a>
            <div class="dependenciesDiv uk-accordion-content"></div>
        </li>
    </ul>
</article>

