<div class="swac_explain_forError swac_dontdisplay uk-alert-danger" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p class="swac_explain_errorMsg"></p>

    <div class="swac_explain_options">
        <div class="swac_repeatForOption">
            <h3 class="uk-heading-divider swac_explain_option_name"></h3>
            <span class="swac_explain_option_type"></span>: 
            <span class="swac_explain_option_desc"></span>
            <table class="swac_explain_options_table uk-table uk-table-small uk-table-justify">
                <tr>
                    <th>ExplainComponents.optionsExample</th>
                    <th>ExplainComponents.optionsDefault</th>
                </tr>
                <tr>
                    <td><pre><code class="swac_explain_option_example lang-javascript"></code></pre></td>
                    <td><pre><code class="swac_explain_option_default lang-javascript"></code></pre></td>
                </tr>
            </table>
        </div>
    </div>
</div>