<div class="swac_geolocation swac_geolocation_ask uk-align-center uk-card uk-card-primary uk-card-body uk-width-1-2@m uk-animation-slide-bottom-medium">
        <h3 class="uk-card-title">##Geolocation.asklokationtitle##</h3>
        <p class="uk-align-center">##Geolocation.asklocationdesc##</p>
        <button class="uk-button uk-button-default swac_geolocation_oncelocate">##Geolocation.asklocationyesonce##</button>
        <button class="uk-button uk-button-default swac_geolocation_watchlocate">##Geolocation.asklocationyeswatch##</button>
        <button class="uk-button uk-button-default swac_geolocation_nolocate">##Geolocation.asklocationno##</button>
        <label>
            <input type="checkbox" class="uk-checkbox swac_geolocation_remember">
            ##Geolocation.rememberDecition##
        </label>
</div>
<div class="swac_geolocation swac_geolocation_nav uk-container uk-container-small">
    <span class="swac_geolocation_icon" uk-icon="icon: location; ratio: 2" uk-tooltip="##Geolocation.notlocated##"></span>
    <a href="#" class="swac_geolocatioon_stop uk-icon-button" uk-icon="icon: ban; ratio: 2" uk-tooltip="##Geolocation.stop##"></a>
    <a href="#" class="swac_geolocatioon_start uk-icon-button" uk-icon="icon: play; ratio: 2" uk-tooltip="##Geolocation.start##"></a>
    <span class="swac_geolocation_address"></span>
    <span class="swac_geolocation_info">##Geolocation.geoprovider##</span> <span class="swac_geolocation_geoprovider"></span>
</div>