body {
    background: #398EDE;
    margin: 0;
}

#registration * {
    font-family: 'Inter', sans-serif;
}

#registration {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #398EDE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#registration h1 {
    margin-bottom: 40px;
    color: white;
}

#registration label {
    color: white;
}

#registration input {
    border-radius: 10px;
    border: 0px;
    display: block;
}

#registration input:focus {
    outline: none;
}

#registration button {
    border-radius: 20px;
    border: 0px;
    margin-top: 40px;
    padding: 15px 20px;
    color: #398EDE;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s; /* Hinzugefügte Übergangseffekte */
}

#registration button:hover {
    background-color: #4CAF50; /* Helle grüne Farbe für Hover */
    color: white; /* Weißer Text bei Hover */
}

#registration button:active {
    background-color: #45A049; /* Dunklere grüne Farbe für Klick */
    color: white; /* Weißer Text bei Klick */
}
