* {
    font-family: 'Inter', sans-serif;
}

body {
    background: #398EDE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 40px;
}

h1, label {
    color: white;
}

input {
    border-radius: 10px;
    border: 0px;
    display: block;
}

button {
    border-radius: 20px;
    border: 0px;
    margin-top: 40px;
    padding: 15px 20px;
    color: #398EDE;
    font-weight: bold;
}

#head_navigation {
    position: sticky;
    top: 0px;
    min-height: 60px;
    background-color: #398EDE; /* Hintergrundfarbe anpassen */
    z-index: 10;
}

#head_navigation ul {
    display: flex; /* Änderung für horizontales Layout */
    justify-content: space-between; /* Änderung für gleichmäßige Verteilung der Elemente */
    align-items: center; /* Zentriert die Elemente vertikal */
    list-style-type: none;
    margin: 0; /* Entfernt den standardmäßigen Listenabstand */
    padding: 0; /* Entfernt den standardmäßigen Listenabstand */
}

#head_navigation li {
    margin: 0 5px; /* Füge Abstand zwischen den Listenelementen hinzu */
}

#head_navigation a {
    color: white;
    text-decoration: none;
}

#head_navigation img {
    width: 45px;
    height: 45px;
}

/* Weitere spezifische Stile für den Header in register.css, falls erforderlich */
