<div>
    <span swac_lang="Communicator.devselection"></span>
    <label class="swac_communicator_repeatForDev">
        <span uk-icon></span>
        <input type="checkbox" class="swac_comunicator_camselect uk-checkbox">
    </label>
    <label title="Communicator.screencapture">
        <span uk-icon="icon: tv"></span>
        <input type="checkbox" class="swac_communicator_screencap uk-checkbox">
    </label>
</div>
<div>
    <span swac_lang="Communicator.username">Username</span>
    <input type="text" name="username" class="uk-input uk-form-small uk-form-width-medium">
    <button class="swac_communicator_goonline uk-button">Communicator.goonline</button>
    <button class="swac_communicator_gooffline swac_dontdisplay uk-button">Communicator.gooffline</button>
</div>
<div class="swac_communicator_camshow">
    <div class="swac_communicator_repeatForCam">
        <video controls autoplay></video>
    </div>
    <div class="swac_communicator_repeatForMic">
        <audio controls autoplay></audio>
    </div>
</div>
<div class="swac_communicator_chat">
    <textarea class="swac_communicator_chatbox uk-textarea"></textarea>
    <button class="swac_communicator_chatsend uk-button-primary">Communicator.chatsend</button>
</div>
<div class="swac_communicator_footer">
    <input type="text" name="com_remoteuser" class="uk-input uk-form-width-medium">
    <button class="swac_communicator_connect uk-button">Communicator.connect</button>
</div>