<div class="swac_events_month">
    <ul>
        <li class="swac_events_prevmonth">&#10094;</li>
        <li class="swac_events_nextmonth">&#10095;</li>
        <li><span class="swac_events_monthname"></span>
            <div class="swac_events_year"></div></li>
    </ul>
</div>

<ul class="swac_events_weekdays">
    <li swac_lang="Events.mo">Monday</li>
    <li swac_lang="Events.tu">Thuseday</li>
    <li swac_lang="Events.we">Wednesday</li>
    <li swac_lang="Events.th">Thuterday</li>
    <li swac_lang="Events.fr">Friday</li>
    <li swac_lang="Events.sa">Saturday</li>
    <li swac_lang="Events.su">Sunday</li>
</ul>

<ul class="swac_events_days">
    <li class="swac_events_premday swac_dontdisplay">PREV</li><li class="swac_events_day swac_dontdisplay">CUR</li><li class="swac_events_nexmday swac_dontdisplay">NEX</li>
</ul>

<div class="swac_events_eventlist swac_dontdisplay">
    <div class="swac_repeatForSet swac_events_event" uk-tooltip="{desc}">
        <span class="swac_events_starttime"></span>&nbsp; {title}
    </div>
</div>