<div id="swac_user_logindialog" class="uk-card uk-card-body uk-card-primary">
    <h1 class="uk-card-title" swac_lang="User.login">Login</h1>
    <form class="swac_user_loginForms">
        <label id="label_username" for="swac_user_username">Benutzername</label>
        <input id="swac_user_username" name="swac_user_username" type="text" placeholder="User.username" class="swac_user_username uk-input" required autocomplete="username">
        <label id="label_password" for="swac_user_password">Password</label>
        <input id="swac_user_password" name="swac_user_password" type="password" placeholder="User.userpwd" class="swac_user_password uk-input" required autocomplete="current-password">
        <button class="swac_user_loginButtons uk-button uk-button-default" type="button">User.login</button>
    </form>
    <a id="register_link" href="/SWAC/sites/register/register.html" class="swac_user_register">User.registerhere</a><a href="#" class="swac_user_pwdlost">User.pwdlost</a>
</div>
<div class="swac_user_logining uk-card uk-card-body uk-card-primary swac_dontdisplay">
    <div class="uk-align-center" uk-spinner="ratio: 5"></div> <span swac_lang="User.loginprogress"></span>
</div>
<div class="swac_user_userarea swac_dontdisplay">
    <div>
        <noscript>
        <div class="noscript_nav">
            <a href="../sitemap.html" class="uk-button uk-button-primary">Sitemap</a>
            <br>Bitte aktiviere Javascript, um die bestmögliche Ansicht zu haben. / Please activate Javascript for the best experience.
        </div>
        </noscript>
        <div class="acc-container-1">
            <a class="swac_user_logout">
                <img id="logout_img" src="./../../content/off_switch.png" alt="logout">
            </a>
            <a href="./settings.html">
                <img src="./../../content/gear.png" alt="settings" style="float: right; margin-top: -2.5%;">
            </a>
            <img id="profil_img" src="./../../content/profil_img.png" alt="No Image in here!" style="margin-right: -5%;">
            <br>
            <br>
            <button class="uk-button uk-button-default "><span uk-icon="icon: user"></span><span class="user_username">I</span></button>
            <div id="distance_driven">
                <ul>
                    <li>
                        <h2>Meine Gruppe</h2>
                    </li>
                    <li>
                        <h2>
                            <a href="./group.html">Campus Minden</a>
                        </h2>
                    </li>
                </ul>
            </div>
            <div id="group_link">
                <ul>
                    <li>
                        <h2>Gefahrene KM</h2>
                    </li>
                    <li>
                        <h2>345,6</h2>
                    </li>
                </ul>
            </div>
        </div>
        <div class="acc-container-2-title">
            <h2 style="font-weight: bolder;">Letzte Erfolge</h2>
        </div>
        <div class="acc-container-2">
            <ul>
                <li">
                    <h2>Finde die sauberste Strecke</h2>
                </li>
                <li>
                    <h2>Erkunde ganz Minden</h2>
                </li>
                <li>
                    <h2>Fahre eine seltene Strecke</h2>
                </li>
                <li>
                    <h2>Erstelle ein Profil</h2>
                </li>
            </ul>
        </div>
    </div>    
</div>
