<div id="swac_user_logindialog" class="uk-card uk-card-body uk-card-primary">
    <h1 class="uk-card-title" swac_lang="User.login">Login</h1>
    <form class="swac_user_loginForms">
        <label id="label_username" for="swac_user_username">Benutzername</label>
        <input id="swac_user_username" name="swac_user_username" type="text" placeholder="User.username" class="swac_user_username uk-input" required autocomplete="username">
        <label id="label_password" for="swac_user_password">Password</label>
        <input id="swac_user_password" name="swac_user_password" type="password" placeholder="User.userpwd" class="swac_user_password uk-input" required autocomplete="current-password">
        <button class="swac_user_loginButtons uk-button uk-button-default" type="button">User.login</button>
    </form>
    <a id="register_link" href="/SWAC/sites/register/register.html" class="swac_user_register">User.registerhere</a><a href="#" class="swac_user_pwdlost">User.pwdlost</a>
</div>
<div id="swac_user_userarea" class="swac_user_userarea swac_dontdisplay">
    <h1 id="logout_title">Logout</h1>
    <label id="logout_label" for="swac_user_logout">Hier geht es raus</label>
    <button id="swac_user_logout" class="swac_user_logout">User.logout</button>
</div>
