<body>      
        <div id="progressbar_modal" uk-modal="bg-close: false">
            <div class="uk-modal-dialog">
                <h3>Bitte warten Sie während die Daten importiert werden</h3>
                <pre id="sourceCode" class="prettyprint" style="display:none"></pre>
                <progress class="uk-progress" value="0" max="1000" id="progressbar"></progress>   
                <div class="uk-modal-footer">
                    <button class="uk-button" type="button" id="btnModalClose">Schließen</button>
                </div>
            </div>
        </div>
        

        <div id="tree_elements" style="visibility: hidden">
            <div uk-form-custom style="margin:5px">
                <input id="getFile" type="file" accept="application/json" />  
                <button class="uk-button uk-button-small" type="button" >Datei auswählen</button>
            </div>
            <div style="margin:5px">
                <input class="uk-input uk-form-width-medium uk-form-small" name="search" placeholder="Filter..." autocomplete="off">
                <button class="uk-button uk-button-small uk-button-danger" id="btnResetSearch" uk-tooltip="Filter zurücksetzten">&times;</button>
                <button class="uk-button uk-button-small" type="button" id="btnSelectFiltered">Selektiere gefilterete Objekte</button>
                <span id="matches"></span>
            </div>
            <button class="uk-button uk-button-small" type="button" id="btnSaveSelected" style="margin: 5px">Ausgewählte Objekte importieren</button>
            <div id="tree" class="sampletree"></div>     
        </div>
	   
	
        


       
</body>