<a href="#" class="swac_search_indextoggle" uk-icon="icon: chevron-down; ratio: 2"></a>
<form class="uk-search uk-search-default">
    <span uk-search-icon></span>
    <input class="swac_search_input uk-search-input" type="search" placeholder="Suche">
</form>
<div>
    <div>
        <ul class="swac_search_results">
            <li class="swac_search_repeatForResult">
                <a href=""></a>
            </li>
        </ul>
    </div>
    <div class="swac_search_info"></div>
    <div class="swac_search_index swac_dontdisplay">

        <div class="swac_search_indexletters">
            <p class="uk-text-bold" swac_lang="Search.indexsearch">Indexsearch</p>
        </div>
        <div class="swac_index_results">
            <div class="swac_search_info"></div>
            <table class="swac_search_results uk-table uk-table-striped uk-table-hover uk-table-small">
                <thead>
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="swac_search_repeatForResult">
                        <td></td>
                    </tr>
                </tbody>
            </table>  
        </div>
    </div>
</div>