<form class="swac_search_form uk-search uk-search-default">
    <span uk-search-icon></span>
    <input class="swac_search uk-search-input" type="search" placeholder="Suche">
</form>
<ul class="swac_search_results uk-list"></ul>
<div class="swac_search_legend"></div>
<!-- Part for SerchEntryMakerDatasource -->
<article class="swac_search_repForDatasource swac_dontdisplay uk-comment">
    <header class="uk-comment-header">
        <div class="uk-grid-medium uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="typepic uk-comment-avatar" src="/SWAC/swac/components/Icon/imgs/filetypes/data/[TYPE].svg" width="80" height="80" alt="">
            </div>
            <div class="uk-width-expand">
                <h4 class="name uk-comment-title uk-margin-remove"></h4>
                <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                    <li class="author"></li>
                    <li><a class="url" href="#" target="_blank">Link</a></li>
                    <li><a class="importurl" href="#" target="_blank">Import</a></li>
                    <li><a class="mapurl" href="#" target="_blank">Datamap</a></li>
                    <li><a class="listurl" href="#" target="_blank">Datalist</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="desc uk-comment-body"></div>
</article>