<form class="uk-search uk-search-default">
    <span uk-search-icon></span>
    <input class="swac_search_input uk-search-input" type="search" placeholder="Search.search">
    <div class="swac_search_info"></div>
</form>
<ul class="swac_search_results uk-list">
    <li class="swac_search_repeatForResult">
        <a href=""></a>
    </li>
</ul>
<div class="swac_search_legend"></div>
<!-- Part for SerchEntryMakerDatasource -->
<article class="swac_search_repeatForSource swac_dontdisplay uk-comment">
    <header class="uk-comment-header">
        <div class="uk-grid-medium uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="swac_search_typepic uk-comment-avatar" src="/SWAC/swac/components/Icon/imgs/filetypes/data/[TYPE].svg" width="80" height="80" alt="">
            </div>
            <div class="uk-width-expand">
                <h4 class="swac_search_sourceEntry_name uk-comment-title uk-margin-remove"></h4>
                <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                    <li class="swac_search_sourceEntry_author"></li>
                    <li><a class="swac_search_sourceEntry_url" href="#" target="_blank">Link</a></li>
                    <li><a class="swac_search_sourceEntry_importurl" href="#" target="_blank">Import</a></li>
                    <li><a class="swac_search_sourceEntry_mapurl" href="#" target="_blank">Datamap</a></li>
                    <li><a class="swac_search_sourceEntry_listurl" href="#" target="_blank">Datalist</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="swac_search_sourceEntry_desc uk-comment-body"></div>
</article>