.swac_geolocation_ask {
    display: none;
    position: absolute;
    bottom: 10%;
    z-index: 999;
}

.swac_geolocation_nav {
    background: white;
}

.swac_geolocation_unavailable {
    display: none;
    position: absolute;
    bottom: 10%;
    z-index: 999;
}

.swac_geolocation_unavailable .swac_geolocation_info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swac_geolocation_close_unavailable {
    width: 100% !important;
}