<div class="swac_geolocation swac_geolocation_ask uk-align-center uk-card uk-card-primary uk-card-body uk-width-1-2@m uk-animation-slide-bottom-medium">
    <h3 class="uk-card-title" swac_lang="Geolocation.asklocationtitle"></h3>
    <p class="uk-align-center" swac_lang="Geolocation.asklocationdesc"></p>
    <button class="uk-button uk-button-default swac_geolocation_oncelocate">Geolocation.asklocationyesonce</button>
        <button class="uk-button uk-button-default swac_geolocation_watchlocate">Geolocation.asklocationyeswatch</button>
        <button class="uk-button uk-button-default swac_geolocation_nolocate">Geolocation.asklocationno</button>
        <label for="swac_geolocation_check">Geolocation.rememberDecision</label>
        <input id="swac_geolocation_check" type="checkbox" class="uk-checkbox swac_geolocation_remember">
</div>
<div class="swac_geolocation swac_geolocation_unavailable uk-align-center uk-card uk-card-primary uk-card-body uk-width-1-2@m uk-animation-slide-bottom-medium">
    <div class="uk-grid-small" uk-grid>
        <div class="uk-width-1-6 swac_geolocation_info">
            <span uk-icon="icon: info; ratio: 2;"></span>
        </div>
        <div class="uk-width-5-6">
            <p swac_lang="Geolocation.unavailable"></p>
            <p swac_lang="Geolocation.unsecure"></p>
        </div>
        <button class="uk-button uk-button-default uk-width-1-1 uk-margin-medium-top swac_geolocation_close_unavailable" swac_lang="Geolocation.close_unavailable"></button>
    </div>
</div>
<div class="swac_geolocation swac_geolocation_nav uk-container uk-container-small">
    <span class="swac_geolocation_icon" uk-icon="icon: location; ratio: 2" uk-tooltip="Geolocation.notlocated"></span>
    <a href="#" class="swac_geolocation_stop uk-icon-button" uk-icon="icon: ban; ratio: 2" uk-tooltip="Geolocation.stop"></a>
    <a href="#" class="swac_geolocation_start uk-icon-button" uk-icon="icon: play; ratio: 2" uk-tooltip="Geolocation.start"></a>
    <span class="swac_geolocation_address"></span>
    <span class="swac_geolocation_info">Geolocation.geoprovider</span> <span class="swac_geolocation_geoprovider"></span>
</div>